<div class="container">
  <div class="jumbotron">
    <h1> Hanakawa Rooms</h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="welcome">
	Welcome to the Hanakawa renting room service.
      </div>  
      <div class="about">
	The Hanakawa house is located in a residential aera on the North part of the Osaka city. In this house you may find all the confort that you need for short trip in the Kansai or an accomodation for a short stay period.
      </div>
    </div>
  </div>
</div>
