<h1>How to go the Hanakawa House</h1>


<aside>
  <div class="adress_info">
    Osaka Nishiyodogawa 
  </div>
</aside>


<div id="map-container">
</div>

<div class="col-md-8 col-md-offset-2">
  <%= link_to "From Tsukamoto Station", class: "btn btn-lg btn-primary" %>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx9LvlDhAVvryS6WVQWEH6v2y_e9FD49Y&callback=initMap" async defer></script>


