// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
	   font-family: cursive;
	   font-weight: 900;
	   color: #FFFFFF;	
	   background-color: #33cc33;
	   }

.welcome {
	 color: #33cc33;
	 font-size: 200%;
	 }


#map-container {
   	       height: 50%;
	       width: 50%;
	       margin-left: auto;
	       margin-right: auto
	       }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
        width: 70%;
	margin: auto;
	}