<nav class="navbar navbar-inverse">
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><span class="glyphicon glyphicon-home"><%=  link_to "home", root_path %></span></li>
      <li><span class="glyphicon glyphicon-picture"><%= link_to "photo ", photo_path %></span></li>
      <li><span class="glyphicon glyphicon-globe"><%= link_to "access ", map_path %></span></li>
      <li><span class="glyphicon glyphicon-envelope"><%= link_to "contact", "#" %></span></li>
    </ul>
  </div>
</nav>

